doctype html
html(ng-app="app")
    head(lang="en")
    meta(charset="UTF-8")
    title DRAW
    link(rel="stylesheet", href="style/style.css")
    script(src="bower_components/requirejs/require.js", data-main="script/main")
body(ng-controller="DrawCtrl")
    aside#toolPicker
        a(href="#", ng-class="{'on': mode.type === drawMode}", ng-repeat="mode in modes", ng-click="setMode()") {{mode.name}}
    aside#colorPicker
        a(href="#", ng-class="{'on': color.value === strokeColor}", ng-repeat="color in colors", style="background-color: {{color.value}}", ng-click="setColor()")
    canvas#stage(draw, width="{{width}}", height="{{height}}")
    canvas#ghost.ghost(width="{{width}}", height="{{height}}")
