* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

.control-panel {
  float: left;
  width: 80px;
}
#toolPicker {
  a {
    display: block;
    width: 48px;
    height: 48px;
    border: 1px solid #000;
    text-align: center;
    font-size: 12px;
    &.on {
      background-color: #ccc;
    }
  }
}
#colorPicker {
  a {
    display: block;
    width: 24px;
    height: 24px;
    border: 1px solid #000;
    &.on {
      border-color: #fff;
    }
  }
}

.stage {
  position: relative;
  margin-left: 80px;
}

.board, .ghost {
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid #000;
}